<%- include ("partials/header") %>

<% function formatDate(date) { 
  var monthNames = [
    "Jan", "Feb", "Mar",
    "Apr", "May", "June", "July",
    "Aug", "Sep", "Oct",
    "Nov", "Dec"
  ];

  var day = date.getDate();
  var monthIndex = date.getMonth();
  var year = date.getFullYear();

  return monthNames[monthIndex] + ' ' + day + ' ' + year;
} 

console.log(formatDate(new Date())); %>

<h1>Scores</h1>
<!-- ["events"][0]["competitions"][0]["competitors"][0]["score"] -->

<main>
  <div>
    <% let date =  Date.parse(score["day"]["date"]) %>
    <h2> <%= score["day"]["date"] %>  </h2>
    <h2> <%= date %>  </h2>
    <h2> <%= formatDate(new Date()) %>  </h2>
    <h3> <%= score["events"][0]["id"] %> </h3>

    <% score["events"].forEach(element => { %>
      <ul>
        <!-- home team scores -->
        <div>
          <!-- img -->
          <li> <img src="<%= element["competitions"][0]["competitors"][0]["team"]["logo"] %>" alt=""></li>

          <li class="abb"> <%= element["competitions"][0]["competitors"][0]["team"]["abbreviation"] %> </li>
        </div>

        <div class="flex_Container">
          <li class="score"> <p> <%= element["competitions"][0]["competitors"][0]["score"] %> </p> </li>
        </div>

        <!-- Clock -->
        <div>
          <li class="detail"> <p> <%= element["status"]["type"]["shortDetail"] %> </p> </li>
          <li class="period"> <p> <%= element["status"]["period"] %> </p> </li>
        </div>

        <!-- Away team scores -->
        <div class="flex_Container">
          <li class="score"> <p> <%= element["competitions"][0]["competitors"][1]["score"] %> </p> </li>
        </div>

        <div>
          <!-- img -->
          <li> <img src="<%= element["competitions"][0]["competitors"][1]["team"]["logo"] %>" alt=""></li>
          <li class="abb"> <%= element["competitions"][0]["competitors"][1]["team"]["abbreviation"] %> </li>
        </div>
        
      </ul>  
      <hr>
      
    <% }); %>

  </div>
</main>

<%- include ("partials/footer") %>